.nav-bar {
    border: 1px dashed purple;
}
.banner-name {
    text-align:center;
    padding: 3px;
    background-color: #4aaaa5;
}
my-row {
    height: 100%;
}
.my-image {
    max-width: 10%;
    height: auto;
}