/* .my-col {
    border: 1px solid red;
} */
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777777;
    background: url("../images/concrete_seamless.png");
    width: 100%;
}

.my-nav {
    border-bottom: 2px solid #cccccc;
    background: #ffffff;
    overflow: hidden;
    position: sticky;
    top: 0;
    right: 5%;
    left: 5%;
    z-index: 99;
}

.logo {
    text-align:center;
    padding: 3px;
    background-color: #4aaaa5;
    height: auto;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 10px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
}
.nav-link {
    line-height: 18px;
    color: #999;
    text-decoration: none;
    border-left: 1px solid #efefef;
    text-align: center;
}

/* main */
 .my-container {
    padding-top: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
   
}
.my-header {

    font-size: 30px;
    line-height: 49px;
    color: #4aaaa5;
    text-emphasis: bold;
    border-bottom: 3px solid #dddddd;

  }
.my-content {
    margin-top: 30px;
    padding: 10px;
}

/* footer */

footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #ffffff;
    color: #cccccc;
    text-align: center;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
  }

/* Media Queries Medium devices (tablets, 641px and up) */
@media (min-width: 641px) { 
    body {
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media (min-width: 768px){
    .port-img {
        max-height: 300px;   
    }
}
@media (min-width: 992px){
    .port-img {
        max-height: 500px;   
    }
}

.my-work-title {
    background-color: #4aaaa5;
    bottom: 50px;
    text-align: center;
    color:  #ffffff;
}

.work {
    margin-top: 10px;
    margin-bottom:10px;
}

button[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    background: #4aaaa5;
    border: 0 none;
  }
