
.banner-name {
    text-align:center;
    padding: 3px;
    background-color: #4aaaa5;
}
my-row {
    height: 100%;
}
.my-image {
    max-width: 10%;
    height: auto;
}

/* TESTING */
.intext {
    margin: 15px 0;
    figure {
      margin: 0 15px 15px 0;
      figcaption {font-size:small; color: white; background:black; padding:5px;}
      }
    h2 { margin-top:0;}
    }
/* TESTING */